body {
  font-family: sans-serif;
  font-size: 18pt;
  text-align: center;
  padding: 50px;
  background-color: #ddd;
}

form {
  width: 590px;
  height: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input {
  text-align: center;
  vertical-align: middle;
  width: 580px;
  border: solid 3px #ff9800;
  background-color: #2d2d2d;
  color: #f2f2f2;
  padding: 10px;
  font-size: 24pt;
}

input:active {
  box-shadow: 0px 0px 4px #ff9800;
}
