body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #111;
  color: #F9F9F9;
}

.filename {
  text-align: center;
  margin: 0;
  padding: 0;
}

a, a:hover {
  color: #ff851b;
  text-decoration: none;
}

a:visited {
  color: #ff4136;
}

.file {
  margin: 5px;
  width: 420px;
  height: 240px;
  display: inline-block;
}

.video {
  border: solid 4px #2d2d2d;
}
