@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	color: #111;
	font-family: "Open sans", sans-serif;
	margin: 0;
	padding: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #DDD;
}

.subtle {
	font-size: 12px;
	opacity: 0.6;
}

a, a:visited, a:hover {
	color: #e65100;
}

.dltext {
	color: #e65100;
	text-align: center;
}

.videoprev {
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: auto;
	border: solid 3px #111;
}

.audioprev {
	display: block;
	margin-top: 60px;
	margin-right: auto;
	margin-left: auto;
	min-width: 640px;
	max-width: 1024px;
	height: auto;
}

.button {
	border: solid 4px #111;
	color: #111;
	font-weight: bold;
	border-radius: 0px;
	display: inline-block;
	margin: 5px;
	padding: 14px;
	font-size: 24px;
	transition: background 0.15s ease-in-out;
}

.uploadinterface {
  width: 420px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: auto;
}

.fileselector {
  font-size: 18px;
  color: #FF851B;
}

.submitbutton {
  font-size: 18px;
}

.submitbutton:hover {
  border-color: #FF851B;
}

.buttoncontainer {
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	max-width: 440px;
	margin-left: auto;
	margin-right: auto;
}

.button:hover {
	background-color: rgba(13, 13, 13, 1);
	color: #e65100;
}

img {
	display: block;
	border: solid 5px #2d2d2d;
	margin-right: auto;
	margin-left: auto;
	max-width: 80%;
	height: auto;
}
