@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
  color: #1d1d1d;
  background-color: #DDD;
  font-size: 16pt;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
}

a, a:visited {
  text-decoration: none;
  color: #e65100;
  transition: color 0.2s;
}

a:hover {
  color: #f57c00;
}

body {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding: 45px;
}
